In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MaxAbsScaler
import matplotlib.pyplot as plt
import seaborn as sns
import re
color = sns.color_palette()

%matplotlib inline

pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 999
from subprocess import check_output

import warnings

def ignore_warn(*args ,**kwargs):
    pass
warnings.warn = ignore_warn

In [2]:
train = pd.read_csv("./data/train_20171226.csv")
test = pd.read_csv("./data/test_20171225.csv")
print(train.shape,test.shape)

(20157, 32) (140, 3)

In [3]:
#获取特征sale_month, sale_year
train['sale_month'] = train['sale_date']%100
train['sale_year'] = train['sale_date']//100%100
test['sale_month'] = test['predict_date']%100
test['sale_year'] = test['predict_date']//100%100

In [4]:
#merge train dataset and fill test dataset
merge_train = pd.DataFrame()
all_class_id = train['class_id'].unique().tolist()
for idx in all_class_id:
    all_month = train['sale_date'][train['class_id']==idx].unique().tolist()
    for mon in all_month:
        max_val = train['sale_quantity'][train['class_id']==idx][train['sale_date']==mon].max()
        sale_sum = train['sale_quantity'][train['class_id']==idx][train['sale_date']==mon].sum()
        feat_val = train[train['class_id']==idx][train['sale_date']==mon][train['sale_quantity']==max_val]
        feat_val['sale_quantity'] = sale_sum
        merge_train = pd.concat([merge_train, feat_val[0:1]])
#含有相同销量的同一class_id
merge_train = merge_train.sort_values(by=['sale_date'], ascending=True)

In [5]:
merge_train = merge_train[['sale_date', 'class_id', 'sale_quantity', 'sale_month', 'sale_year']]
cols = ['sale_date', 'class_id', 'sale_quantity', 'sale_month', 'sale_year']
test = test.ix[:,cols]
test['sale_date'] = test['sale_date'].fillna(201711)
test['sale_date'] = test['sale_date'].astype(int)

In [6]:
count = merge_train[['class_id','sale_quantity']].groupby(['class_id'], as_index=1).count().sort_values(['sale_quantity'])
print('less than 10:',count[count['sale_quantity']<13].count())

less than 10: sale_quantity    29
dtype: int64

In [7]:
print(merge_train.shape, test.shape)
class_12 = count[count['sale_quantity']<13]
class_12 = class_12.index.tolist()
all_data = pd.concat((merge_train, test)).reset_index(drop=True)
for idx in class_12:
    li = []
    li = all_data[all_data['class_id']==idx].index.tolist()
    all_data.drop(all_data.index[li],inplace=True)
    all_data = all_data.reset_index(drop=True)

(5587, 5) (140, 5)

In [8]:
def rolling(df,roll,window):
    last=roll(df,window=window).tolist()
    last=[np.NaN]+last
    last.pop()
    return last

new = pd.DataFrame()
for a in all_class_id:
    df = all_data[all_data['class_id'] == a]
    df['last_1_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=1)
    df['last_2_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=2)
    df['last_3_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=3)
    df['last_4_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=4)
    df['last_5_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=5)
    df['last_6_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=6)
    df['last_7_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=7)
    df['last_8_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=8)
    df['last_9_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=9)
    df['last_10_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=10)
    df['last_11_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=11)
    df['last_12_sum'] = rolling(df['sale_quantity'], pd.rolling_sum, window=12)
    
    df['move_1'] = df['last_1_sum']
    df['move_2'] = df['last_2_sum'] - df['last_1_sum']
    df['move_3'] = df['last_3_sum'] - df['last_2_sum']
    df['move_4'] = df['last_4_sum'] - df['last_3_sum']
    df['move_5'] = df['last_5_sum'] - df['last_4_sum']
   
    df['move_12'] = df['last_12_sum'] - df['last_11_sum']
    
    new = pd.concat([new, df])

In [9]:
data = new.drop(['last_1_sum', 'last_2_sum', 'last_3_sum', 'last_4_sum', 'last_5_sum',
                 'last_6_sum', 'last_7_sum', 'last_8_sum', 'last_9_sum', 'last_10_sum',
                 'last_11_sum', 'last_12_sum'], axis=1)
data.head()

,sale_date,class_id,sale_quantity,sale_month,sale_year,move_1,move_2,move_3,move_4,move_5,move_12
3461,201605,289403,9.0,5,16,NaN,NaN,NaN,NaN,NaN,NaN
3589,201606,289403,9.0,6,16,9.0,NaN,NaN,NaN,NaN,NaN
3668,201607,289403,18.0,7,16,9.0,9.0,NaN,NaN,NaN,NaN
3765,201608,289403,120.0,8,16,18.0,9.0,9.0,NaN,NaN,NaN
3861,201609,289403,222.0,9,16,120.0,18.0,9.0,9.0,NaN,NaN

In [10]:
test = data[data['sale_quantity'].isnull()]
test.shape

(111, 11)

In [11]:
train_X = data.dropna()
train_X.head()

,sale_date,class_id,sale_quantity,sale_month,sale_year,move_1,move_2,move_3,move_4,move_5,move_12
4804,201705,289403,222.0,5,17,213.0,359.0,231.0,400.0,171.0,9.0
4908,201706,289403,179.0,6,17,222.0,213.0,359.0,231.0,400.0,9.0
4993,201707,289403,375.0,7,17,179.0,222.0,213.0,359.0,231.0,18.0
5072,201708,289403,264.0,8,17,375.0,179.0,222.0,213.0,359.0,120.0
5157,201709,289403,299.0,9,17,264.0,375.0,179.0,222.0,213.0,222.0

In [16]:
#spilt dataset
val_data = train_X[train_X['sale_date']==201710]
test = test.drop(['sale_date', 'sale_quantity'], axis=1)
train_y = train_X['sale_quantity']
train_x = train_X.drop(['sale_date', 'sale_quantity'], axis=1)
print(train_x.shape, train_y.shape, test.shape, len(train_x['class_id'].unique().tolist()),len(test['class_id'].unique().tolist()))

ValueError: labels ['sale_date' 'sale_quantity'] not contained in axis

In [ ]:
val_data = train_x[trian_x['sale_date']==201710]

In [380]:
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import ElasticNet,Lasso
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from mlxtend.regressor import StackingRegressor
from sklearn.neural_network import MLPRegressor
import xgboost as xgb
import lightgbm as lgb

In [381]:
def rmsle_cv(model, train_x, train_y):
    n_folds = 5
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train_x)
    rmse= np.sqrt(-cross_val_score(model, train_x, train_y, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

def rmsle(y, y_pred):
    return np.sqrt(mean_squared_error(y, y_pred))

def xgb_Regressor(train_x, train_y, test_x):
    xgb_model = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=2200,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state =7, nthread = -1)
    scores = rmsle_cv(xgb_model, train_x, train_y)  
    xgb_model.fit(train_x, train_y)
    pred_train = xgb_model.predict(train_x)
    score = rmsle(train_y, pred_train)
    
    return xgb_model, scores.mean(), score, pred_train

def lgb_Regressor(train_x, train_y, test_x):
    lgb_model = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 30)
    scores = rmsle_cv(lgb_model, train_x, train_y)  
    lgb_model.fit(train_x, train_y)
    pred_train = lgb_model.predict(train_x)
    score = rmsle(train_y, pred_train)
    
    return lgb_model, scores.mean(), score, pred_train
def base_model():
    ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))
    lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.0005, random_state=1))
    nn = MLPRegressor(
    hidden_layer_sizes = (90, 90),
    alpha = 2.75
    )

    return ENet,lasso,nn

def gboost_Regressor(train_x, train_y, test_x):
    gb_model = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=20, min_samples_split=20, 
                    loss='huber', random_state =5)
    scores = rmsle_cv(gb_model, train_x, train_y)  
    gb_model.fit(train_x, train_y)
    pred_train = gb_model.predict(train_x)
    score = rmsle(train_y, pred_train)
    
    return gb_model, scores.mean(), score, pred_train

In [383]:
print("XGBOOSTRegressor开始训练...")
xgb_model, scores, score, xgb_train_pred = xgb_Regressor(train_x, train_y, test)
print(scores, score)
xgb_pred = xgb_model.predict(test)

XGBOOSTRegressor开始训练...
231.219423641 66.1516684112

In [382]:
print("LGBMRegressor开始训练...")
lgb_model, scores, score, lgb_train_pred= lgb_Regressor(train_x, train_y, test)
print(scores, score)
lgb_pred = lgb_model.predict(test)

LGBMRegressor开始训练...
232.951719749 176.470519867

In [ ]:
print("GDBTRegressor开始训练...")
gb_model, scores, score, gb_train_pred = gboost_Regressor(train_x, train_y, test)
print(scores, score)
gb_pred = gb_model.predict(test)

GDBTRegressor开始训练...

In [ ]:
ENet,lasso,nn = base_model()
    
ENet.fit(train_x, train_y)
enet_pred = ENet.predict(train_x)
print("ENet:", rmsle(train_y, enet_pred))
    
lasso.fit(train_x, train_y)
lasso_pred = lasso.predict(train_x)
print("lasso:", rmsle(train_y, lasso_pred))
    
nn.fit(train_x, train_y)
nn_pred = nn.predict(train_x)
print("nn:", rmsle(train_y, nn_pred))

In [ ]:
# ####Stacking####
print('Stacking...')
stacked_averaged_models = StackingRegressor(
regressors=[ nn, ENet,lasso, lgb_model],
meta_regressor= xgb_model
)
stacked_averaged_models.fit(train_x, train_y)
stacked_train_pred = stacked_averaged_models.predict(train_x.values)
stacked_pred = stacked_averaged_models.predict(test.values)
print(rmsle(train_y, stacked_train_pred))
print(rmsle(train_y,stacked_train_pred*0.40 + gb_train_pred*0.20 + 
       lgb_train_pred*0.20 + xgb_train_pred*0.20))
ensemble = stacked_pred*0.40 + gb_pred*0.20  + lgb_pred*0.20 + xgb_pred*0.20

In [343]:
#submission
test['sale_quantity'] = lgb_pred
cols = test['class_id'].unique().tolist()
sub = pd.read_csv("./data/test_20171225.csv")
for idx in cols:
    sale = test['sale_quantity'][test['class_id']==idx]
    sub['predict_quantity'][sub['class_id']==idx] = list(sale)[0]
for idx in class_12:
    sale = merge_train['sale_quantity'][merge_train['class_id']==idx][merge_train['sale_date']==201710]
    sub['predict_quantity'][sub['class_id']==idx] = list(sale)[0]
sub.to_csv('submission_lgb_diff1_5_move_1_5.csv',index=False)

In [342]:
lgb_pred

array([  237.33906174,   708.60840866,   174.67134746,   156.64716595,
         668.31703533,   204.59043725,   479.99352857,   373.50549489,
         137.53269373,   180.54592017,   496.21709019,   654.86017452,
         347.91908877,   154.40015577,   100.77552838,    56.36663376,
         229.15375718,  2695.35015035,   579.09155915,   278.41082129,
         233.2004149 ,  1636.75985902,   153.8067285 ,   455.01414008,
         482.78063927,  1670.8226792 ,   151.966536  ,   126.55534463,
         169.86675179,   219.29170252,   389.77364281,   209.63164293,
          92.0665864 ,   221.50931004,    58.01087757,   170.29122296,
         101.67050931,   169.21980119,   319.64874862,   292.21923231,
        1027.44758111,   612.71941506,   149.19752623,   361.50218997,
         191.68343411,   199.19155288,    95.69039253,   386.61183877,
         151.90473792,   276.22494402,   227.76666622,   240.10228822,
          33.17556674,    82.44160172,   204.04395657,   465.62919576,
         226.27911368,    62.72832709,   291.7966587 ,   155.25809775,
         239.15866532,   324.72776275,  1725.09692526,   500.49174439,
        2764.75436572,   682.96901535,   690.49240468,   325.73713034,
         197.82551695,   186.94054285,   357.52807855,   546.69225819,
         327.33143473,   116.78230296,   284.48711117,   229.73589284,
          85.86753457,    87.67453775,   458.76469143,   154.29998831,
          50.25717106,   425.14599564,   282.99550265,   593.17948355,
         535.49908717,   296.32350604,   509.6048532 ,   333.12518276,
          98.92700737,   305.75233384,    68.83337149,   922.92868193,
         138.9462211 ,   170.30312174,   924.55632065,    92.64954695,
          94.14042853,   274.97001775,   343.94061688,   201.37117579,
        2020.62116285,   139.34503501,   863.84606584,    62.50978219,
         166.0572608 ,   153.99364584,    49.31682853,   135.10962275,
         230.78327681,    76.54113492,    38.56583717])

In [314]:
test

,class_id,sale_month,sale_year,move_1,move_2,move_3,move_4,move_5,move_6,move_7,move_8,move_9,move_10,move_11,move_12,diff,sale_quantity
5398,289403,11,17,272.0,299.0,264.0,375.0,179.0,222.0,213.0,359.0,231.0,400.0,171.0,204.0,NaN,235.047918
5468,745137,11,17,852.0,911.0,780.0,859.0,646.0,533.0,376.0,590.0,476.0,822.0,1673.0,1278.0,NaN,832.505916
5461,714860,11,17,138.0,217.0,238.0,213.0,169.0,186.0,165.0,185.0,138.0,435.0,510.0,313.0,NaN,179.712940
5381,175962,11,17,237.0,214.0,103.0,119.0,143.0,167.0,134.0,301.0,151.0,396.0,633.0,411.0,NaN,198.200207
5394,270690,11,17,595.0,806.0,701.0,883.0,864.0,826.0,692.0,1095.0,1497.0,691.0,1565.0,1124.0,NaN,768.197468
5399,290854,11,17,205.0,393.0,285.0,81.0,71.0,241.0,161.0,214.0,179.0,222.0,232.0,232.0,NaN,233.742359
5457,692703,11,17,551.0,580.0,476.0,556.0,505.0,533.0,406.0,458.0,289.0,551.0,905.0,731.0,NaN,501.938087
5487,978089,11,17,400.0,401.0,419.0,270.0,381.0,512.0,466.0,548.0,494.0,558.0,1042.0,400.0,NaN,397.940866
5388,219195,11,17,125.0,160.0,155.0,220.0,130.0,240.0,200.0,260.0,275.0,265.0,630.0,490.0,NaN,157.496885
5473,851857,11,17,157.0,255.0,225.0,196.0,186.0,137.0,138.0,187.0,98.0,254.0,304.0,275.0,NaN,163.401161
5402,304458,11,17,373.0,605.0,731.0,706.0,473.0,448.0,506.0,548.0,490.0,448.0,739.0,432.0,NaN,389.689591
5407,349023,11,17,941.0,941.0,679.0,786.0,612.0,748.0,562.0,785.0,486.0,727.0,2105.0,904.0,NaN,736.209422
5396,281792,11,17,481.0,363.0,373.0,295.0,246.0,393.0,382.0,362.0,343.0,167.0,539.0,431.0,NaN,358.132813
5432,510309,11,17,94.0,171.0,161.0,161.0,198.0,140.0,218.0,176.0,99.0,213.0,130.0,104.0,NaN,115.247879
5414,379876,11,17,133.0,140.0,140.0,70.0,77.0,189.0,175.0,140.0,119.0,119.0,329.0,224.0,NaN,122.130261
5469,750340,11,17,95.0,38.0,10.0,105.0,105.0,153.0,86.0,115.0,124.0,247.0,399.0,238.0,NaN,88.501303
5439,576298,11,17,174.0,293.0,270.0,310.0,231.0,301.0,380.0,466.0,514.0,261.0,514.0,286.0,NaN,207.843033
5405,347384,11,17,2898.0,2613.0,1527.0,2558.0,2475.0,2751.0,1702.0,1610.0,2235.0,3579.0,7563.0,3873.0,NaN,3595.858755
5409,354068,11,17,460.0,920.0,607.0,846.0,525.0,579.0,469.0,634.0,552.0,442.0,1601.0,1077.0,NaN,648.615578
5421,416749,11,17,201.0,310.0,366.0,454.0,375.0,288.0,180.0,230.0,143.0,252.0,295.0,288.0,NaN,265.295166
5379,125403,11,17,156.0,328.0,311.0,418.0,343.0,279.0,327.0,360.0,131.0,172.0,182.0,131.0,NaN,220.126617
5419,409854,11,17,1675.0,1807.0,1797.0,1772.0,1437.0,1833.0,1334.0,1582.0,1153.0,1557.0,3656.0,2108.0,NaN,1839.502755
5470,786351,11,17,104.0,91.0,234.0,195.0,118.0,144.0,202.0,202.0,287.0,540.0,846.0,657.0,NaN,158.204251
5395,281301,11,17,329.0,584.0,584.0,621.0,554.0,569.0,548.0,715.0,410.0,795.0,1102.0,606.0,NaN,400.653293
5453,654134,11,17,514.0,654.0,439.0,625.0,567.0,737.0,664.0,787.0,1002.0,1619.0,2282.0,1326.0,NaN,622.268521
5422,425432,11,17,1848.0,1539.0,1664.0,2439.0,1357.0,1356.0,1256.0,1574.0,910.0,1029.0,2694.0,2503.0,NaN,1877.499800
5475,871642,11,17,155.0,173.0,186.0,236.0,154.0,186.0,143.0,130.0,129.0,117.0,309.0,161.0,NaN,149.959112
5437,559132,11,17,104.0,221.0,104.0,159.0,186.0,152.0,83.0,173.0,110.0,201.0,180.0,138.0,NaN,120.215620
5472,819061,11,17,94.0,172.0,148.0,312.0,219.0,281.0,140.0,304.0,375.0,608.0,1014.0,562.0,NaN,190.007139
5429,482497,11,17,177.0,336.0,308.0,257.0,217.0,217.0,165.0,245.0,154.0,405.0,205.0,142.0,NaN,198.009220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5445,603972,11,17,414.0,511.0,422.0,572.0,492.0,466.0,492.0,370.0,255.0,590.0,476.0,439.0,NaN,429.783331
5444,597927,11,17,140.0,251.0,251.0,633.0,484.0,418.0,363.0,427.0,353.0,595.0,1069.0,689.0,NaN,278.349921
5467,743957,11,17,681.0,632.0,665.0,648.0,592.0,469.0,421.0,591.0,469.0,389.0,681.0,899.0,NaN,581.040608
5478,914348,11,17,483.0,650.0,511.0,659.0,586.0,474.0,493.0,893.0,642.0,317.0,623.0,1024.0,NaN,478.724555
5476,883691,11,17,254.0,276.0,467.0,407.0,329.0,371.0,324.0,381.0,275.0,392.0,435.0,334.0,NaN,262.737080
5479,923841,11,17,642.0,713.0,572.0,510.0,414.0,554.0,431.0,493.0,352.0,264.0,642.0,396.0,NaN,521.331162
5423,436105,11,17,431.0,455.0,313.0,302.0,236.0,302.0,278.0,284.0,259.0,466.0,572.0,437.0,NaN,380.522898
5428,481950,11,17,151.0,150.0,86.0,134.0,97.0,81.0,140.0,161.0,81.0,108.0,81.0,91.0,NaN,101.718320
5391,248352,11,17,260.0,269.0,361.0,369.0,385.0,345.0,343.0,310.0,445.0,570.0,1150.0,872.0,NaN,306.662905
5484,961362,11,17,73.0,104.0,115.0,119.0,32.0,119.0,73.0,156.0,52.0,109.0,120.0,114.0,NaN,73.425164
5482,950264,11,17,1231.0,874.0,808.0,1025.0,856.0,892.0,799.0,714.0,622.0,903.0,1268.0,779.0,NaN,1103.014980
5403,308913,11,17,139.0,132.0,237.0,122.0,123.0,74.0,57.0,41.0,49.0,82.0,81.0,148.0,NaN,101.808534
5392,250658,11,17,187.0,288.0,187.0,144.0,151.0,180.0,115.0,144.0,130.0,86.0,238.0,122.0,NaN,176.235525
5448,621073,11,17,1062.0,1137.0,893.0,902.0,1006.0,1005.0,1166.0,1494.0,2143.0,1768.0,3065.0,2256.0,NaN,1336.675772
5385,198427,11,17,99.0,125.0,84.0,83.0,109.0,83.0,171.0,151.0,135.0,167.0,317.0,187.0,NaN,102.608682
5452,651782,11,17,80.0,133.0,95.0,101.0,111.0,159.0,106.0,164.0,85.0,117.0,164.0,122.0,NaN,95.676251
5447,619401,11,17,392.0,353.0,304.0,274.0,206.0,206.0,206.0,226.0,117.0,177.0,353.0,294.0,NaN,306.681298
5406,348641,11,17,340.0,405.0,413.0,442.0,387.0,488.0,414.0,451.0,257.0,451.0,1261.0,617.0,NaN,437.825560
5384,194450,11,17,271.0,307.0,189.0,325.0,159.0,195.0,218.0,153.0,165.0,201.0,561.0,319.0,NaN,232.645241
5386,206765,11,17,2057.0,2347.0,1950.0,1979.0,1940.0,2523.0,1659.0,2086.0,912.0,767.0,2571.0,1592.0,NaN,2379.707192
5382,178529,11,17,148.0,165.0,108.0,177.0,177.0,188.0,331.0,331.0,451.0,182.0,387.0,222.0,NaN,157.153725
5483,953842,11,17,1061.0,757.0,1175.0,861.0,740.0,635.0,530.0,626.0,679.0,983.0,2783.0,1401.0,NaN,1118.925923
5417,395234,11,17,102.0,83.0,102.0,56.0,9.0,9.0,9.0,37.0,9.0,18.0,18.0,19.0,NaN,62.644510
5426,468392,11,17,146.0,242.0,173.0,145.0,134.0,192.0,235.0,235.0,168.0,286.0,387.0,437.0,NaN,172.013172
5380,136916,11,17,162.0,145.0,179.0,162.0,179.0,162.0,137.0,213.0,196.0,213.0,256.0,213.0,NaN,151.848497
5456,683364,11,17,84.0,62.0,61.0,28.0,51.0,34.0,39.0,45.0,73.0,56.0,89.0,34.0,NaN,48.210697
5411,360648,11,17,160.0,150.0,169.0,169.0,103.0,94.0,122.0,75.0,132.0,132.0,216.0,169.0,NaN,137.190186
5464,736094,11,17,234.0,252.0,225.0,333.0,252.0,315.0,189.0,315.0,432.0,387.0,675.0,459.0,NaN,246.158341
5383,186250,11,17,83.0,83.0,108.0,125.0,42.0,174.0,116.0,158.0,133.0,125.0,332.0,274.0,NaN,95.493956
5471,810398,11,17,114.0,48.0,29.0,67.0,29.0,38.0,48.0,39.0,38.0,48.0,266.0,95.0,NaN,59.439076